.AboutUs .lander {
  padding: 0px 0;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}

.AboutUs .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.AboutUs .lander p {
  color: #999;
}

.AboutUs .projects h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  overflow: hidden;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.AboutUs .projects p {
  color: #666;
}